urn:uuid syntax validation incorrect?

### Version

4.9.0

### Question

Currently working with some Turtle files and ran them through `riot --validate`, which returned this message: `Bad IRI: Fragment used with UUID`

While there were indeed `urn:uuid` IRIs with a fragment, I’m having doubts whether this should be the expected behaviour. When looking at the syntax specification for URNs (https://datatracker.ietf.org/doc/html/rfc8141#section-2), it clearly states an optional “f-component” is allowed (indicated by a preceding hashtag). The `urn:uuid:<the actual UUID>` part seems to be purely the “assigned-name” (existing of `urn`, `uuid` being the “Namespace Identifier (NID)” and the UUID value being the “Namespace Specific String (NSS)”).

If I'm interpreting the specification wrong feel free to let me know, but it seems like a fragment is actually allowed. Any chance [this will be updated](https://github.com/apache/jena/blob/jena-4.9.0/jena-core/src/main/java/org/apache/jena/irix/IRIProviderJenaIRI.java#L293) to reflect that?

Hi @svandenhoek ,

What was the source of the Turtle files?

You are correct RFC8141 allows a fragment and also restricted query strings.

URN namespacesa can impose further restrictrions. 

At https://www.iana.org/assignments/urn-namespaces/urn-namespaces.xhtml, the definition of urn:uuid still refers to [RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122).


[RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122) does not allow them and RFC8141 doesn't say it updates RFC4122.

So, by my reading, `urn:uuid` does not allow  query string or fragment.



Hello @afs,

Thank you for the fast response!

The source file is an internally generated one (which I was using in GraphDB and didn’t have any issues with). The main reason I ran it through riot was due to a different external file causing issues with loading into GraphDB and I ended up validating all Turtle files I needed to load.

The URN specification does seem to state the following:
[RFC 8141 Section 2.3](https://datatracker.ietf.org/doc/html/rfc8141#section-2.3):

> This specification includes three optional components in the URN syntax.  They are known as r-component, q-component, and f-component [...] each of these components has a distinct role that is independent of any given URN and its URN namespace. It is intended that clients will be able to handle these components uniformly for all URNs. These components MAY be used with URNs from existing URN namespaces, whether or not a URN namespace explicitly supports them.

[RFC 8141 Section 2.2](https://datatracker.ietf.org/doc/html/rfc8141#section-2.2):

> The NSS is a string, unique within a URN namespace, that is assigned and managed in a consistent way and that conforms to the definition of the relevant URN namespace.

[Section 2](https://datatracker.ietf.org/doc/html/rfc8141#section-2):

> Rules not defined here (specifically: alphanum, fragment, and pchar) are defined as part of the URI syntax [[RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)]

While indeed [RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122) does not allow them, my assumption would be that [RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122) (and others) simply describe what is allowed in the “Namespace Specific String” for that specific "Namespace Identifier". The f-component would therefore be out-of-scope for [RFC 4122](https://datatracker.ietf.org/doc/html/rfc4122) and is defined in [RFC 8141](https://datatracker.ietf.org/doc/html/rfc8141) (which refers to [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) for the f-component).





PS This surprised me:

The r-component expression will capture the following q-component by greedy matching because `?` and `+` are legal in an r-component.

`?+abc?=def` is a single r-component. This may be intentional - it passes on the "?=" part to the resolver.
`?+abc?+def` is a single r-component and `?=abc?=def` is a single q-component.


My main point indeed is to not flag something as invalid if it might actually be in-spec, though I do agree that part about not-defined behaviour for undefined components is worrying indeed. An informational warning (or perhaps a command-line argument that allows toggling between "in-spec only vs strict validation") seems like a valid option.

While it's a guess, perhaps other tools simply treat the fragment similarly to an IRI (so the fragment in `urn:uuid:0c93930e-709d-431b-add5-9fdca2a117da#something` and `http://www.w3.org/2000/01/rdf-schema#label` being treated the same) and therefore not causing any issues?

Interesting observation regarding the rq-component indeed. It seems according to [RFC 8141 Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc8141#section-2.3.1) that the r-component is for now purely there to "reserves it for future use" (first paragraph page 13) and it "SHOULD NOT be used for URNs before their semantics have been standardized" (last paragraph of the section). So a warning (or even an error?) sounds valid for now as well until it is updated. Though ofcourse this gets a bit more complicated due to `?+` being valid inside the q-component.

Looking at [RFC 8141 Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc8141#section-2.3.1), I'm not sure if `?+abc?=def` should be seen as a single r-component though (but I'll be honest that I have no clue regarding passing it to the resolver so you might be right regarding implementation):

> The sequence "?+" introduces the r-component.  The r-component ends with a "?=" sequence (which begins a q-component) or a "#" character (number sign, which begins an f-component).

Regarding the usage: We currently have some non-semantic data which we want to be able to query on linked data. Most of it can be converted properly to existing IRIs that represents this data (and are the parts relevant for federated querying). Some of the data which is purely relevant inside the project cannot be that easily converted, so within the current concept version a UUID is generated to represent the specific use-case and the fragments describe the parts they represent within that specific use-case. A bit similar to the anology in [RFC 8141 Section 2.3.3](https://datatracker.ietf.org/doc/html/rfc8141#section-2.3.3):

> Consider the hypothetical example of obtaining resources that are part of a larger entity (say, the chapters of a book).  Each part could be specified in the f-component

P.S. This week might not be able to respond as much.

The fragments part is unaffected. 8141 is following the URI spec.

    r-component   = pchar *( pchar / "/" / "?" )

and `pchar` includes `sub-delims` which includes `"="`.

Tokenizing is "greedy" (longest match, regex style) so if there are two possibilities the first/longer happens. This may be intentional - so the r-component with q-component syntax get passed to a resolver.

Fortunately for syntax validation, it does not matter! it's pass/fail, not the reason.
There is no "get r-component" method on IRIx.

As for tools - I think tools that try to parse/check UUIDs, and many that parse/check URNs (which isn't many in linked data land) will not handle r-,q-components. If they treat them blindly as IRIs, they will pass them, including internationalization  issues.


Root issue addressed by #2064.

(Closing the issue because the code, in jena5, is fixed)