What is the status of IRI support?

### Version

N/A

### Question

Hi,

I'm looking for a library that implements IRI in Java. Your library seems to be well-supported but https://jena.apache.org/documentation/notes/iri.html doesn't look promising.

What is the status of IRI support? Is this the best library to use for IRIs in Java?

It supports general RFC3986/3987 (URIs/IRIs) and has the rules for the scheme-specific. The code is quite old.

What are your use cases?

I have a separate project https://github.com/afs/x4ld/tree/main/xsd4ld that is a RFC3986 parser. It runs jena-iri in test mode to check alignment. It's more focused on being a parser/resolver, the parsing use cases.  It has some scheme-specific support, and more can be added. (http:, urn:, urn:uuid:. did:)


I am implementing a HATEOS client for a format similar to https://ionspec.org/

I was under the false impression that URIs cannot represent all of the addresses that IRI can, but upon further investigation I now understand this is not the case. My new understanding is that IRIs are more about improving efficiency (representing the same addresses using less bytes).

I guess that's why IRIs haven't enjoyed mass adoption yet... I guess you answered my question. Feel free to close this issue.

It's a bit more messy than that. There is a long timescale history and a very slow/careful evolution in the standards and implemnentations on the web.

Browsers handle all this for the user so often the user does not notice. Toolkits nowadays often seem to do it as well (the newer `java.net.http`, for example) so applications rarely see this. But if you push on detail and correctness, it can show though.

Nowadays, I see "URI" beginning to be used generally and interchangeably with "IRI" with "IRI" fading away.
The extreme case of this is https://url.spec.whatwg.org/ where "URL" is used for everything within the HTML area.

URI = [RFC3986](https://datatracker.ietf.org/doc/html/rfc3986)
IRI = [RFC3987](https://datatracker.ietf.org/doc/html/rfc3987)

IRIs (Unicode) are abstract and have to be mapped to URIs to be used.

The HTTP infrastructure grew up around old URLs which have an ALPHA production `[A-Z][a-z]` of ABNF [RFC2234](https://www.rfc-editor.org/rfc/rfc2234). When using someone else's server, you can't rely on the server understanding e.g, UTF-8.

In parallel, there is also [punycode](https://datatracker.ietf.org/doc/rfc3492/) to be able to write non-ASCII host names in strict ASCII URLs so that DNS can be used for the host name.

Java `java.net.URI` isn't even RFC3986 - it's the closest to the preceding [RFC2396]https://datatracker.ietf.org/doc/html/rfc2396) but I don't think it's every going to be updated.

`jena-iri` started because compliance to the standards was not great.

In Jena, we now have an abstraction `IRIx` and a test suite of expectations (in the `jena-core`) so that the URI/IRI library can be switched. We'll replace use of `jena-iri` with the new code sometime; `jena-iri` will remain for testing and for a part of the legacy code which isn't normally used by apps but is available.
